on property:sys.boot_completed=1
    setprop sys.io.scheduler zen
    write /sys/block/mmcblk0/queue/scheduler zen
    write /sys/block/mmcblk0/bdi/read_ahead_kb 512

    write /sys/module/cpu_boost/parameters/input_boost_ms 0
    write /sys/kernel/sched/arch_power 0
    write /sys/kernel/sched/gentle_fair_sleepers 0

    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

    setprop sys.perf.profile 1

    # Lower GPU
    write /sys/devices/fdb00000.qcom,kgsl-3d0/devfreq/fdb00000.qcom,kgsl-3d0/max_freq 320000000

    # Tune entropy parameters
    write /proc/sys/kernel/random/read_wakeup_threshold 128
    write /proc/sys/kernel/random/write_wakeup_threshold 256

    # VM
    write /proc/sys/vm/block_dump 0
    write /proc/sys/vm/dirty_background_ratio 5
    write /proc/sys/vm/dirty_expire_centisecs 500
    write /proc/sys/vm/dirty_ratio 10
    write /proc/sys/vm/dirty_writeback_centisecs 3000
    write /proc/sys/vm/min_free_kbytes 4608
    write /proc/sys/vm/min_free_order_shift 4
    write /proc/sys/vm/oom_dump_tasks 1
    write /proc/sys/vm/oom_kill_allocating_task 1
    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/page-cluster 3
    write /proc/sys/vm/panic_on_oom 0
    write /proc/sys/vm/swappiness 70
    write /proc/sys/vm/vfs_cache_pressure 50

    # Kernel
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/sys/kernel/panic 0
    write /proc/sys/kernel/panic_on_oops 0
    write /proc/sys/kernel/softlockup_panic 0

    # Network
    write /proc/sys/net/ipv4/tcp_moderate_rcvbuf 1
    write /proc/sys/net/ipv4/route/flush 1
    write /proc/sys/net/ipv4/tcp_rfc1337 1
    write /proc/sys/net/ipv4/ip_no_pmtu_disc 0
    write /proc/sys/net/ipv4/tcp_ecn 0
    write /proc/sys/net/ipv4/tcp_fack 1
    write /proc/sys/net/ipv4/tcp_synack_retries 2
    write /proc/sys/net/ipv4/tcp_syn_retries 2
    write /proc/sys/net/ipv4/tcp_no_metrics_save 1
    write /proc/sys/net/ipv4/ip_forward 0
    write /proc/sys/net/ipv4/tcp_sack 1
    write /proc/sys/net/ipv4/tcp_dsack 1
    write /proc/sys/net/ipv4/tcp_tw_recycle 1
    write /proc/sys/net/ipv4/tcp_window_scaling 1
    write /proc/sys/net/ipv4/conf/default/accept_source_route 0
    write /proc/sys/net/ipv4/conf/all/accept_source_route 0
    write /proc/sys/net/ipv4/icmp_echo_ignore_broadcasts 1
    write /proc/sys/net/ipv4/icmp_echo_ignore_all 1
    write /proc/sys/net/ipv4/icmp_ignore_bogus_error_responses 1
    write /proc/sys/net/ipv4/tcp_syncookies 0
    write /proc/sys/net/ipv4/conf/all/accept_redirects 0
    write /proc/sys/net/ipv4/conf/default/accept_redirects 0
    write /proc/sys/net/ipv4/conf/all/secure_redirects 0
    write /proc/sys/net/ipv4/conf/default/secure_redirects 0
    write /proc/sys/net/ipv4/ip_dynaddr 0
    write /proc/sys/net/ipv4/tcp_tw_reuse 1
    write /proc/sys/net/ipv4/tcp_keepalive_probes 5
    write /proc/sys/net/ipv4/tcp_max_syn_backlog 4096
    write /proc/sys/net/ipv4/tcp_timestamps 0
    write /proc/sys/net/ipv4/tcp_keepalive_probes 5
    write /proc/sys/net/ipv4/tcp_keepalive_intvl 30
    write /proc/sys/net/ipv4/tcp_fin_timeout 30
    write /proc/sys/net/core/wmem_max 404480
    write /proc/sys/net/core/rmem_max 404480
    write /proc/sys/net/core/rmem_default 256960
    write /proc/sys/net/core/wmem_default 256960
    write /proc/sys/net/ipv4/tcp_wmem "4096,16384,404480"
    write /proc/sys/net/ipv4/tcp_rmem "4096,16384,404480"

on enable-low-power
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1

    # MP-Decision
    rm /data/system/default_values

    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    chown root system /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu2/online
    chmod 664 /sys/devices/system/cpu/cpu3/online
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/enabled 1

on charger
    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
    wait /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1
    start rmt_storage
    start irsc_util

    write /sys/module/lpm_levels/enable_low_power/l2 2
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1

    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 300000

    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/enabled 1

on boot
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

# CM Powersave Profile
on property:sys.perf.profile=0
    stop mpdecision
    write /sys/module/intelli_plug/parameters/intelli_plug_active 0

    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor conservative

    write /sys/class/devfreq/qcom,cpubw.42/governor msm-adreno-tz
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor msm-adreno-tz

    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/module/intelli_plug/parameters/nr_run_profile_sel 2
    write /sys/module/intelli_plug/parameters/intelli_plug_active 1

# CM Balanced Profile
on property:sys.perf.profile=1
    stop mpdecision
    write /sys/module/intelli_plug/parameters/intelli_plug_active 0

    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive

    # Permission for Power HAL CM extension
    chown root system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 664 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load

    write /sys/class/devfreq/qcom,cpubw.42/governor msm_cpufreq
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor msm-adreno-tz

    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/module/intelli_plug/parameters/nr_run_profile_sel 2
    write /sys/module/intelli_plug/parameters/intelli_plug_active 1

# CM Performance Profile
on property:sys.perf.profile=2
    stop mpdecision
    write /sys/module/intelli_plug/parameters/intelli_plug_active 0

    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor performance

    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/class/devfreq/qcom,cpubw.42/governor performance
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor performance
